/* The Root: Setting the base for REM */
html {
  font-size: 16px;
}

body {
  background-color: #f4f7f6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 50px;
}

.card {
  background-color: white;
  width: 320px;

  margin: auto;

  border: 2px solid rgb(220, 220, 220);

  padding: 2rem;

  border-radius: 12px;
  text-align: center;
}

.title {
  color: hsl(200, 100%, 30%);
  font-size: 1.5rem; /* 24px */
  margin-bottom: 20px;
}

.price {
  background-color: rgba(0, 123, 255, 0.1);
  color: #007bff;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  display: inline;
  border-radius: 8px;
}

.description {
  color: #666;
  font-size: 1rem; /* 16px */
  line-height: 1.5;
  padding: 10px 0;
}

.btn {
  display: block;
  margin-top: 20px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}
