/* Reset default spacing */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

header {
  background-color: royalblue;
  color: white;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

h2 {
  color: royalblue;
}

a {
  text-decoration: none;
  color: royalblue;
  font-weight: bold;
}
