body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.main-wrapper {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

table,
th,
td {
  border: 1px solid #ddd;
}
th {
  background-color: #007bff;
  color: white;
  padding: 12px;
}
td {
  padding: 10px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 15px;
  padding-right: 20px;
}

.city-card {
  border: 2px solid #eee;
  padding: 20px;
  background-color: #fff;
  text-align: left;
}

.city-card h2 {
  color: #007bff;
}
