body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.main-wrapper {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.city-card {
  flex: 1 1 calc(33.33% - 15px);
  border: 2px solid #eee;
  padding: 20px;
  background-color: #fff;
  text-align: left;
  border-radius: 8px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .city-card {
    flex: 1 1 calc(50% - 15px); /* 2 per row */
  }
}

@media (max-width: 600px) {
  .city-card {
    flex: 1 1 100%; /* 1 per row */
  }
}
